{% extends "base.html" %}

{% block title %}Klinkatsis Wedding{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/faq.css') }}" media="all">
{% endblock %}


{% block content %}

  <!-- FAQ -->
  <main>
    <section class="faq">
      <h2>Frequently Asked Questions</h2>

      <div class="faq-item">
        <button class="faq-question">What is the attire?</button>
        <div class="faq-answer">
          <p>Beach Formal attire. Think dress pants, suit jackets, dresses and dressy jumpsuits! You may want to consider a light jacket as the weather might cool down at night and the venue is indoor and outdoor.</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-question">Is the wedding indoor or outdoor?</button>
        <div class="faq-answer">
          <p>Both! Plan for the ceremony, cocktail hour, and dinner to be hosted outside, with indoor reception and dancing to follow. Expect weather around 70 to 80 degrees during the day. When not directly in the sun or at night, temperatures might get cool. If you get cold easily we recommend a light jacket to stay warm once the sun goes down.</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-question">Do I get a plus one?</button>
        <div class="faq-answer">
          <p>Due to venue capacity, we are unable to accommodate plus ones. Unless otherwise stated on the invitation, please plan on only named invitees attending! Formal invitations will be sent in spring/summer of 2026. We look forward to celebrating with you in August.</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-question">Is there parking on-site?</button>
        <div class="faq-answer">
          <p>The most convenient guest parking is the metered lot adjacent to the venue for $1.50/hour from 9am to 10pm daily. Other options include complimentary parking within walking distance in residential areas on Calle Las Bolas, Calle Sacramento, and Avenida Hacienda, which allows for overnight unmetered parking.<br>
          Otherwise, we recommend uber or if you are staying at the Marriot Irvine Spectrum, taking the provided shuttle. 
          </p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-question">Is there a discounted hotel block?</button>
        <div class="faq-answer">
          <p>Yes, click <a href="https://book.passkey.com/gt/220960342?gtid=c6987b61e7c49eeb5b9afd67d9a0e70d&mobile=true&dw=375">here</a> for a direct link to our hotel block at Marriott Irvine Spectrum, click <href="/accommodations>here</href> to see our accommodations page with more details. In order to unlock discounting, select your room, number of guests, the dates 8/28/2026-8/30/2026, and hit next. From there you should see the discounted rate available to book. If you have any difficulties, reach out to Marisa at 908-566-8042 or the Marriott Irvine Spectrum directly at 949-759-0200. Rates for parking at the hotel may apply. </p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-question">Is there anywhere else we should visit when travelling to SoCal?</button>
        <div class="faq-answer">
          <p>We highly recommend checking out <a href="/travel">Travel & Accommodations</a> for a list of recommended places. Click on any city in the map for recommendations for things to do and good eats!</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-question">Will there be a shuttle to the wedding?</button>
        <div class="faq-answer">
          <p>Yes, for anyone staying at the Marriott Irvine Spectrum, we will provide shuttles to and from the hotel. More details on shuttle schedule to come!</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-question">Is the venue ADA accessible? </button>
        <div class="faq-answer">
          <p>Yes, Ole Hanson has an elevator and ADA accessible restrooms on the first floor.</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-question">What time should we plan on arriving?</button>
        <div class="faq-answer">
          <p>The ceremony kicks off promptly at 4:00 pm, so plan on coming early! We recommend arriving between 3:30-3:45 pm. If you plan on parking, plan for extra time to allow for finding a parking spot. For anyone taking the shuttle, we will release more details shortly for any timing considerations to catch the shuttle from the Marriott Irvine Spectrum.</p>
        </div>
      </div>
    </section>


  <!-- FAQ Open and Close Script -->
  <script>
    const faqButtons = document.querySelectorAll(".faq-question");

      faqButtons.forEach(button => {
        button.addEventListener("click", () => {
          const answer = button.nextElementSibling;

          faqButtons.forEach(otherBtn => {
            const otherAnswer = otherBtn.nextElementSibling;
            if (otherAnswer !== answer) {
              otherAnswer.style.maxHeight = null;
            }
          });

          if (answer.style.maxHeight) {
            answer.style.maxHeight = null;
          } else {
            answer.style.maxHeight = answer.scrollHeight + "px"; 
          }
        });
      });

  </script>

  </main>
{% endblock %}
