{% extends "base.html" %}

{% block title %}Klinkatsis Wedding{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/faq.css') }}" media="all">
{% endblock %}


{% block content %}

  <!-- ===================== Main Content ===================== -->
  <main>
    <section class="faq">
      <h2>Frequently Asked Questions</h2>

      <div class="faq-item">
        <button class="faq-question">Question</button>
        <div class="faq-answer">
          <p>Answer</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-question">Question</button>
        <div class="faq-answer">
          <p>Answer</p>
        </div>
      </div>

      <div class="faq-item">
        <button class="faq-question">Question</button>
        <div class="faq-answer">
          <p>Answer</p>
        </div>
      </div>
    </section>



  <script>
    const faqButtons = document.querySelectorAll(".faq-question");

      faqButtons.forEach(button => {
        button.addEventListener("click", () => {
          const answer = button.nextElementSibling;

          // Close all other answers
          faqButtons.forEach(otherBtn => {
            const otherAnswer = otherBtn.nextElementSibling;
            if (otherAnswer !== answer) {
              otherAnswer.style.maxHeight = null;
            }
          });

          // Toggle the clicked answer
          if (answer.style.maxHeight) {
            answer.style.maxHeight = null; // collapse
          } else {
            answer.style.maxHeight = answer.scrollHeight + "px"; // expand
          }
        });
      });

  </script>

  </main>
{% endblock %}
