{% extends "base.html" %}

{% block title %}Klinkatsis Wedding{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/registry.css') }}">
{% endblock %}

{% block content %}

  <div class="registry-heading">
    <h2>Your presence means the world to us!</h2>
    <p>In lieu of physical gifts, please condsider donating to the honeymoon fund below</p>
  </div>


 <main class="venmo-main">

    <!-- Venmo Image/link -->
    <a href="https://venmo.com/Bill-Klinkatsis" 
      target="_blank" 
      rel="noopener noreferrer" 
      class="venmo-qr-link">
      <img src="{{ url_for('static', filename='images/qr.jpg') }}" alt="Scan to pay with Venmo">
    </a>

    <!-- Venmo Image/link -->
    <a href="https://venmo.com/Bill-Klinkatsis" 
      target="_blank" 
      rel="noopener noreferrer" 
      class="venmo-qr-link">
      <img src="{{ url_for('static', filename='images/qr.jpg') }}" alt="Scan to pay with Venmo">
    </a>

  </main>

{% endblock %}
