__pycache__/

*.db
*.sqlite3
*.sqlite

instance/
wedding.db

*.pyc
*.pyo
*.pyd
venv/
env/
ENV/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
*.log
instance/
*.db
instance/
*.db
