{% extends "base.html" %}

{% block title %}Klinkatsis Wedding — Anaheim{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cities.css') }}">
{% endblock %}

{% block content %}
  <main>

 <!-- Hero Photo -->
    <div class="photo">
      <img src="{{ url_for('static', filename='images/anaheim.jpg') }}" alt="Anaheim">
      <div class="credit">
        Photo by <a href="https://unsplash.com/@abduzeedo" target="_blank" rel="noopener noreferrer">Fabio Sasso</a>
      </div>
    </div>

 <!-- Overview -->
    <div class="overview">
      <h1>
        Anaheim
      </h1>
    </div>

 <!-- Things To Do 3 Sections -->
   <div class="sections-container">
    <!-- Things To Do -->
    <div class="section-group">
      <h2>Things To Do</h2>
      <div class="subsections">
        <!-- Family -->
        <div class="subsection">
          <h3>Family</h3>
          <ul>
            <li><a href="https://disneyland.disney.go.com/destinations/disneyland/">Disneyland</a></li>
            <li><a href="https://disneyland.disney.go.com/destinations/downtown-disney-district/">Downtown Disney</a></li>
            <li><a href="https://www.golfland.com/anaheim/">Camelot Golfland</a></li>
            <li><a href="https://www.mlb.com/angels">Los Angeles Angels Baseball</a></li>
          </ul>
        </div>
        <!-- Outdoor -->
        <div class="subsection">
          <h3>Outdoor</h3>
          <ul>
            <li><a href="https://www.ocparks.com/yorbapark">Yorba Regional Park</a></li>
            <li><a href="https://www.anaheim.net/1096/Oak-Canyon-Nature-Center">Oak Canyon Nature Center</a></li>
          </ul>
        </div>
        <!-- Other -->
        <div class="subsection">
          <h3>Other</h3>
          <ul>
            <li><a href="https://anaheim.houseofblues.com/">House of Blues</a></li>
            <li><a href="https://www.bowlero.com/location/bowlero-anaheim">Bowlero Lanes</a></li>
          </ul>
        </div>
      </div>
    </div>

<!-- Food 3 Sections -->
    <div class="section-group">
      <h2>Food</h2>
      <div class="subsections">
        <!-- Quick/Casual -->
        <div class="subsection">
          <h3>Quick/Casual</h3>
          <ul>
            <li><a href="https://www.anaheimpackingdistrict.com/">Packing House</a></li>
            <li><a href="https://www.tacosloscholos.net/">Tacos Los Cholos</a></li>
            <li><a href="https://www.yelp.com/biz/good-food-hall-anaheim">Good Food Hall</a></li>
          </ul>
        </div>
        <!-- Sit Down -->
        <div class="subsection">
          <h3>Sit Down</h3>
          <ul>
            <li><a href="https://www.poppyandseedoc.com/">Poppy & Seed</a></li>
            <li><a href="https://www.reunionkitchen.net/">Reunion Kitchen + Drink</a></li>
            <li><a href="https://www.craftbysmokeandfire.com/">Craft by Smokefire</a></li>
          </ul>
        </div>
        <!-- Sweet Treats -->
        <div class="subsection">
          <h3>Sweet Treats</h3>
          <ul>
            <li><a href="https://www.okayamakobousa.com/">Okayama Kobo Bakery</a></li>
            <li><a href="https://joesice.com/">Joe's Italian Ice</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Coastal Nav -->
  <nav id="coastal-nav">
    <ul>
      <li><a href="/los_angeles">Los Angeles</a></li>
      <li><a href="/anaheim">Anaheim</a></li>
      <li><a href="/laguna">Laguna Beach</a></li>
      <li><a href="/san_diego">San Diego</a></li>
      <li><a href="/newport_beach">Newport Beach</a></li>
      <li><a href="/san_clemente">San Clemente</a></li>
      <li><a href="/dana_point">Dana Point</a></li>
      <li><a href="/long_beach">Long Beach</a></li>
      <li><a href="/irvine">Irvine</a></li>
    </ul>
  </nav>

  <!-- Directions -->
    <div class="directions">
      <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d106153.17885955561!2d-117.91855346584411!3d33.75325292707879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x80dcdd578b031b05%3A0x32b545a680c4ee0e!2sMarriott%20Irvine%20Spectrum%2C%207905%20Irvine%20Center%20Dr%2C%20Irvine%2C%20CA%2092618!3m2!1d33.6575025!2d-117.7483431!4m5!1s0x80dcd6f98055e867%3A0x1ab89ab9a2bb160!2sAnaheim%2C%20CA!3m2!1d33.836593199999996!2d-117.9143012!5e0!3m2!1sen!2sus!4v1762201540409!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>
  </main>
{% endblock %}

