{% extends "base.html" %}

{% block title %}Klinkatsis Wedding — Irvine{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cities.css') }}">
{% endblock %}

{% block content %}
  <main>

<!-- Hero Photo -->
    <div class="photo">
      <img src="{{ url_for('static', filename='images/irvine.jpg') }}" alt="Irvine">
      <div class="credit">
        Photo by <a href="https://unsplash.com/@happy_pixel" target="_blank" rel="noopener noreferrer">Vinu T</a>
      </div>
    </div>

 <!-- Overview -->
    <div class="overview">
      <h1>
        Irvine Spectrum Center
      </h1>
    </div>

 <!-- Things To Do 3 Sections -->
   <div class="sections-container">
    <!-- Things To Do -->
    <div class="section-group">
      <h2>Things To Do</h2>
      <div class="subsections">
        <!-- Family -->
        <div class="subsection">
          <h3>Family</h3>
          <ul>
            <li><a href="https://www.daveandbusters.com/us/en/about/locations/irvine">Dave & Busters</a></li>
            <li><a href="https://www.irvinespectrumcenter.com/entertainment/attractions/giant-wheel">Giant Ferris Wheel</a></li>
            <li><a href="https://www.irvinespectrumcenter.com/entertainment/attractions/carousel">Carosel</a></li>
            <li><a href="https://holeymoley.com/locations/irvine-spectrum">Holey Moley Putt Putt</a></li>
            <li><a href="https://hijinxhotel.com/">Hijinx Hotel Challenge Rooms</a></li>
          </ul>
        </div>
        <!-- Last Minute Wedding Weekend Finds -->
        <div class="subsection">
          <h3>Last Minute Wedding Weekend Finds</h3>
          <ul>
            <li><a href="https://www.irvinespectrumcenter.com/shopping/stores/drybar">Drybar</a></li>
            <li><a href="https://www.irvinespectrumcenter.com/shopping/stores/holly-and-hudson-nail-lounge">Holly and Hudson Nail Salon</a></li>
            <li><a href="https://www.irvinespectrumcenter.com/shopping/stores/lip-lab-by-bite">Lip Lab</a></li>
            <li><a href="https://www.irvinespectrumcenter.com/shopping/stores/nordstrom">Nordstrum</a></li>
            <li><a href="https://www.irvinespectrumcenter.com/shopping/stores/aldo">Aldo Shoes</a></li>
            <li><a href="https://www.irvinespectrumcenter.com/shopping/stores/anthropologie">Anthropologie</a></li>
          </ul>
        </div>
        <!-- Other -->
        <div class="subsection">
          <h3>Other</h3>
          <ul>
            <li><a href="https://www.irvinespectrumcenter.com/entertainment/irvine-improv">Improv Comedy Shows</a></li>
            <li><a href="https://www.irvinespectrumcenter.com/shopping/stores/the-escape-game">Escape Room</a></li>
          </ul>
        </div>
      </div>
    </div>

<!-- Food 3 Sections -->
    <div class="section-group">
      <h2>Food</h2>
      <div class="subsections">
        <!-- Quick/Casual -->
        <div class="subsection">
          <h3>Quick/Casual</h3>
          <ul>
            <li><a href="https://www.irvinespectrumcenter.com/dining/restaurants/sweetgreen">Sweetgreen</a></li>
            <li><a href="https://www.irvinespectrumcenter.com/dining/restaurants/shake-shack">Shake Sack</a></li>
            <li><a href="https://www.irvinespectrumcenter.com/dining/restaurants/georgias-restaurant">Georgia's</a></li>
            <li><a href="https://www.irvinespectrumcenter.com/dining/restaurants/dizzy-bird">Dizzy Bird Mediterranean</a></li>
          </ul>
        </div>
        <!-- Sit Down -->
        <div class="subsection">
          <h3>Sit Down</h3>
          <ul>
            <li><a href="https://www.irvinespectrumcenter.com/dining/restaurants/din-tai-fung">Din Tai Fung</a></li>
            <li><a href="https://www.yardhouse.com/locations/ca/irvine/irvine-irvine-spectrum-center/8303">Yard House</a></li>
            <li><a href="https://www.restauranthabana.com">Habana Cuban</a></li>
            <li><a href="https://www.javiersfinestfoods.com/irvine-spectrum">Javier's</a></li>
          </ul>
        </div>
        <!-- Breakfast, Coffee & Sweet Treats -->
        <div class="subsection">
          <h3>Fun</h3>
          <ul>
            <li><a href="https://pressed.com/juice-bar-locations/ca/irvine/808-spectrum-center-drive?utm_source=google_gmb&utm_medium=organic">Pressed Juicery</a></li>
            <li><a href="https://www.irvinespectrumcenter.com/dining/restaurants/85c-bakery-cafe">85c Bakery Cafe</a></li>
            <li><a href="https://www.google.com/maps/place/The+French+Avenue/@33.6511506,-117.7433046,17z/data=!3m1!4b1!4m6!3m5!1s0x80dce7992bb0738d:0xa256be2114315dbd!8m2!3d33.6511506!4d-117.7433046!16s%2Fg%2F11vy2c00tt?entry=ttu&g_ep=EgoyMDI1MTExNi4wIKXMDSoASAFQAw%3D%3D">The French Avenue</a></li>
            <li><a href="https://www.irvinespectrumcenter.com/dining/restaurants/somisomi">Somi Somi Ice Cream</a></li>
            <li><a href="https://www.irvinespectrumcenter.com/dining/restaurants/bacio-di-latte">Bacio di Late Gelato</a></li>
            <li><a href="https://www.irvinespectrumcenter.com/dining/restaurants/cold-stone-creamery">Cold Stone Creamery</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

 <!-- Coastal Nav -->
  <nav id="coastal-nav">
    <ul>
      <li><a href="/los_angeles">Los Angeles</a></li>
      <li><a href="/anaheim">Anaheim</a></li>
      <li><a href="/laguna">Laguna Beach</a></li>
      <li><a href="/san_diego">San Diego</a></li>
      <li><a href="/newport_beach">Newport Beach</a></li>
      <li><a href="/san_clemente">San Clemente</a></li>
      <li><a href="/dana_point">Dana Point</a></li>
      <li><a href="/long_beach">Long Beach</a></li>
      <li><a href="/irvine">Irvine</a></li>
    </ul>
  </nav>
  
 <!-- Directions -->
    <div class="directions">
      <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d6642.2743365380375!2d-117.75177850617995!3d33.65360754323847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x80dcdd578b031b05%3A0x32b545a680c4ee0e!2sMarriott%20Irvine%20Spectrum%2C%207905%20Irvine%20Center%20Dr%2C%20Irvine%2C%20CA%2092618!3m2!1d33.6575025!2d-117.7483431!4m5!1s0x80dcdd57c815c0a9%3A0xbd7436c85d56ff02!2sIrvine%20Spectrum%20Center%2C%20Irvine%2C%20CA!3m2!1d33.649866599999996!2d-117.74419069999999!5e0!3m2!1sen!2sus!4v1762201867334!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>
  </main>
{% endblock %}

