{% extends "base.html" %}

{% block title %}Klinkatsis Wedding — Los Angeles{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cities.css') }}">
{% endblock %}

{% block content %}
  <main>

<!-- Hero Photo -->
    <div class="photo">
      <img src="{{ url_for('static', filename='images/los_angeles.jpg') }}" alt="Los Angeles">
      <div class="credit">
        Photo by <a href="https://unsplash.com/@alessguarino" target="_blank" rel="noopener noreferrer">Alessandro Guarino</a>
      </div>
    </div>

 <!-- Overview -->
    <div class="overview">
      <h1>
        Los Angeles
      </h1>
    </div>

 <!-- Things To Do 3 Sections -->
   <div class="sections-container">
    <!-- Things To Do -->
    <div class="section-group">
      <h2>Things To Do</h2>
      <div class="subsections">
        <!-- Family -->
        <div class="subsection">
          <h3>Family</h3>
          <ul>
            <li><a href="https://nhm.org/">Museum of Natural History</a></li>
            <li><a href="https://tarpits.org/">La Brea Tar Pits</a></li>
            <li><a href="https://www.universalstudioshollywood.com/web/en/us">Universal Studio</a></li>
          </ul>
        </div>
        <!-- Outside -->
        <div class="subsection">
          <h3>Outside</h3>
          <ul>
            <li><a href="https://griffithobservatory.org/">Griffith Observatory</a></li>
            <li><a href="https://www.santamonicapier.org/">Santa Monica Pier</a></li>
            <li><a href="https://www.discoverlosangeles.com/things-to-do/famous-attractions-things-to-do-on-hollywood-boulevard">Hollywood Walk of Fame/TCL Chinese Theatre</a></li>
          </ul>
        </div>
        <!-- Other -->
        <div class="subsection">
          <h3>Other</h3>
          <ul>
            <li><a href="https://on-camera-audiences.com/">Live Show Tapings</a></li>
            <li><a href="https://topgolf.com/us/el-segundo/">Top Golf Los Angele</a></li>
            <li><a href="https://www.getty.edu/">The Getty Art Museum</a></li>
            <li><a href="https://www.wbstudiotour.com/">Warner Brothers Studio Tour</a></li>
          </ul>
        </div>
      </div>
    </div>

  <!-- Food 3 Sections -->
    <div class="section-group">
      <h2>Food</h2>
      <div class="subsections">
        <!-- Quick/Casual -->
        <div class="subsection">
          <h3>Quick/Casual</h3>
          <ul>
            <li><a href="https://www.pinkshollywood.com/">Pink’s Hot Dogs</a></li>
            <li><a href="https://www.sonoratown.com/">Sonoratown</a></li>
            <li><a href="https://www.rowdtla.com/collective?collective-categories=dine&_gl=1*t8k9du*_gcl_au*MjE0NTA5OTQ4My4xNzYzNTA5NDEy">The Row DTLA</a></li>
            <li><a href="https://www.fourseasons.com/beverlywilshire/">The Wilshire for cocktails!</a></li>
          </ul>
        </div>
        <!-- Sit Down -->
        <div class="subsection">
          <h3>Sit Down</h3>
          <ul>
            <li><a href="https://jitladala.com/">Jitlada</a></li>
            <li><a href="https://www.sbe.com/restaurants/katsuya/">Katsuya</a></li>
            <li><a href="https://www.themarvista.com/">Teverna Mar Vista</li>
            <li><a href="https://valakitchen.com/">Vala Kitchen</li>
            <li><a href="https://www.holboxla.com/#/">Holbox</a></li>
          </ul>
        </div>
        <!-- Sweet Treats -->
        <div class="subsection">
          <h3>Sweet Treats</h3>
          <ul>
            <li><a href="https://www.portosbakery.com/?exp68=v1">Porto’s</a></li>
            <li><a href="https://artelicela.com/">Artelice Bakery</a></li>
            <li><a href="https://beverlyhillsteuscher.com/?srsltid=AfmBOooGWq_sJTPIbGZT6dW6LBd6jpqJOpCB6BnLBqfsH45ZVofw7_bH">Teuscher</li>
            <li><a href="https://cannabis.cafe/">A uniquely californian experience: Cannabis Cafe (18+)</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Coastal Nav -->
  <nav id="coastal-nav">
    <ul>
      <li><a href="/los_angeles">Los Angeles</a></li>
      <li><a href="/anaheim">Anaheim</a></li>
      <li><a href="/laguna">Laguna Beach</a></li>
      <li><a href="/san_diego">San Diego</a></li>
      <li><a href="/newport_beach">Newport Beach</a></li>
      <li><a href="/san_clemente">San Clemente</a></li>
      <li><a href="/dana_point">Dana Point</a></li>
      <li><a href="/long_beach">Long Beach</a></li>
      <li><a href="/irvine">Irvine</a></li>
    </ul>
  </nav>

 <!-- Directions -->
    <div class="directions">
      <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d212051.52756767874!2d-118.15722118190824!3d33.85602668607765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x80dcdd578b031b05%3A0x32b545a680c4ee0e!2sMarriott%20Irvine%20Spectrum%2C%207905%20Irvine%20Center%20Dr%2C%20Irvine%2C%20CA%2092618!3m2!1d33.6575025!2d-117.7483431!4m5!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos%20Angeles%2C%20CA!3m2!1d34.0549076!2d-118.242643!5e0!3m2!1sen!2sus!4v1762201138203!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

  </main>
{% endblock %}

