{% extends "base.html" %}

{% block title %}Klinkatsis Wedding — Newport Beach{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cities.css') }}">
{% endblock %}

{% block content %}
  <main>

<!-- Hero Photo -->
    <div class="photo">
      <img src="{{ url_for('static', filename='images/newport_beach.jpg') }}" alt="Newport Beach">
      <div class="credit">
        Photo by <a href="https://unsplash.com/@svenpiper" target="_blank" rel="noopener noreferrer">Sven Piper</a>
      </div>
    </div>

 <!-- Overview -->
    <div class="overview">
      <h1>
        Newport Beach
      </h1>
    </div>

 <!-- Things To Do 3 Sections -->
   <div class="sections-container">
    <!-- Attractions -->
    <div class="section-group">
      <h2>Things To Do</h2>
      <div class="subsections">
        <!-- Family -->
        <div class="subsection">
          <h3>Family</h3>
          <ul>
            <li><a href="https://daveyslocker.com/whale-watching/newport-beach/">Whale Watching</a></li>
            <li><a href="ttps://www.balboafunzone.com/">Balboa Fun Zone</a></li>
          </ul>
        </div>
        <!-- Outside -->
        <div class="subsection">
          <h3>Outside</h3>
          <ul>
            <li><a href="https://visitnewportbeach.com/beaches-and-parks/crystal-cove-state-park/">Crystal Cove State Beach</a></li>
            <li><a href="https://visitnewportbeach.com/beaches-and-parks/corona-del-mar-state-beach/">Corona Del Mar State Beach</a></li>
            <li><a href="https://visitnewportbeach.com/beaches-and-parks/little-corona-del-mar-beach/">Little Corona Del Mar Beach</a></li>
            <li><a href="https://visitnewportbeach.com/beaches-and-parks/newport-pier-located-balboa-peninsula/">Newport Beach & Pier</a></li>
            <li><a href="https://balboafuntours.com/?gad_source=1&gad_campaignid=23075600583&gbraid=0AAAAA-ZT8G9vdyKg5jKlR-1UrN0qLeI5b&gclid=CjwKCAiAuIDJBhBoEiwAxhgyFgqlZOV9xCQTakzRc7SK1agpaxGQ9yNlRFJDio3h1vbZQ5zLxaAm9RoC1DkQAvD_BwE">Water Sports</a></li>
          </ul>
        </div>
        <!-- Other -->
        <div class="subsection">
          <h3>Other</h3>
          <ul>
            <li><a href="https://www.fashionisland.com/">Fashion Island</a></li>
            <li><a href="https://thesherman.org/">Sherman Library & Gardens</a></li>
            <li><a href="https://www.duffyboats.com/rent-newport-beach/">Duffy Boat Rentals</a></li>
          </ul>
        </div>
      </div>
    </div>

  <!-- Food 3 Sections -->
    <div class="section-group">
      <h2>Quick/Casual</h2>
      <div class="subsections">
        <!-- Quick/Casual -->
        <div class="subsection">
          <h3>Quick/Casual</h3>
          <ul>
            <li><a href="thejettycdm.com">The Jetty</a></li>
            <li><a href="https://crystalcoveshakeshack.com/">Crystal Cove Shake Shack</a></li>
            <li><a href="https://www.google.com/maps/place/Raku+Sushi+%26+Teriyaki/@33.6946929,-117.8840699,17z/data=!4m6!3m5!1s0x80dcdfa913f9a46f:0x3e47fb5e0c535c!8m2!3d33.6946675!4d-117.8838415!16s%2Fg%2F11t79fb1h0?entry=tts&g_ep=EgoyMDI1MDUyOC4wIPu8ASoASAFQAw%3D%3D&skid=cb681c6d-03cf-4626-962c-a966a8382943">Raku Sushi</a></li>
            <li><a href="https://princestreetpizza.com/">Prince St. Pizza</a></li>
            <li><a href="https://hironori.com/">Nearby - Hironori Ramen</a></li>
          </ul>
        </div>
        <!-- Sit Down -->
        <div class="subsection">
          <h3>Sit Down</h3>
          <ul>
            <li><a href="https://www.forettis.com/">Foretti's</a></li>
            <li><a href="https://joeyrestaurants.com/location/joey-newport-beach">Joey's</a></li>
            <li><a href="https://lidobottleworks.com/">Lido Bottle Works</a></li>
            <li><a href="https://www.hooknanchor.com/">Hook & Anchor</a></li>
            <li><a href="https://www.tavernhousekb.com/">Tavern House</a></li>
            <li><a href="https://thebeachcombercafe.com/">Beachcomber</a></li>
            <li><a href="https://dtf.com/en-us/locations/costa-mesa">Din Tai Fung</a></li>
            <li><a href="https://www.javiersfinestfoods.com/newport-beach">Javier's</a></li>
          </ul>
        </div>
        <!-- Fun -->
        <div class="subsection">
          <h3>Sweet Treats</h3>
          <ul>
            <li><a href="https://crystalcoveshakeshack.com/">Crystal Cove Shake Shack</a></li>
            <li><a href="https://rendezvouscdm.com/">Rendez Vous</a></li>
            <li><a href="https://www.sugarnspice.co/">Sugar N' Spice</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Coastal Nav -->
  <nav id="coastal-nav">
    <ul>
      <li><a href="/los_angeles">Los Angeles</a></li>
      <li><a href="/anaheim">Anaheim</a></li>
      <li><a href="/laguna">Laguna Beach</a></li>
      <li><a href="/san_diego">San Diego</a></li>
      <li><a href="/newport_beach">Newport Beach</a></li>
      <li><a href="/san_clemente">San Clemente</a></li>
      <li><a href="/dana_point">Dana Point</a></li>
      <li><a href="/long_beach">Long Beach</a></li>
      <li><a href="/irvine">Irvine</a></li>
    </ul>
  </nav>

 <!-- Directions -->
    <div class="directions">
      <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d53163.869396412534!2d-117.86678112636356!3d33.612002264384195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x80dcdd578b031b05%3A0x32b545a680c4ee0e!2sMarriott%20Irvine%20Spectrum%2C%207905%20Irvine%20Center%20Dr%2C%20Irvine%2C%20CA%2092618!3m2!1d33.6575025!2d-117.7483431!4m5!1s0x80dce8b6c4bfb3dd%3A0xf1549554648b59bd!2sNewport%20Beach%2C%20CA!3m2!1d33.6041944!2d-117.8738554!5e0!3m2!1sen!2sus!4v1762202002386!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>
  </main>
{% endblock %}

