{% extends "base.html" %}

{% block title %}Klinkatsis Wedding — San Diego {% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cities.css') }}">
{% endblock %}

{% block content %}
  <main>

<!-- Hero Photo -->
    <div class="photo">
      <img src="{{ url_for('static', filename='images/san_diego.jpg') }}" alt="San Diego">
      <div class="credit">
        Photo by <a href="https://unsplash.com/@andrgar" target="_blank" rel="noopener noreferrer">Andres Garcia</a>
      </div>
    </div>

 <!-- Overview -->
    <div class="overview">
      <h1>
        San Diego
      </h1>
    </div>

 <!-- Things To Do 3 Sections -->
   <div class="sections-container">
    <!-- Things To Do -->
    <div class="section-group">
      <h2>Things To Do</h2>
      <div class="subsections">
        <!-- Family -->
        <div class="subsection">
          <h3>Family</h3>
          <ul>
            <li><a href="https://zoo.sandiegozoo.org/">San Diego Zoo</a></li>
            <li><a href="https://sdzsafaripark.org/safaris">Nearby - San Diego Safari Park Zoo</a></li>
            <li><a href="https://www.midway.org/">USS Midway Museum</a></li>
          </ul>
        </div>
        <!-- Outdoors -->
        <div class="subsection">
          <h3>Outdoors</h3>
          <ul>
            <li><a href="https://balboapark.org/">Balboa Park</a></li>
            <li><a href="https://www.sandiego.org/beaches-neighborhoods/beaches/pacific-beach-beaches">Pacific Beach</a></li>
            <li><a href="https://www.sandiego.org/beaches-neighborhoods/beaches/coronado-beaches">Coronado Beaches</a></li>
            <li><a href="https://www.niwa.org/">Japanese Friendship Garden & Museum</a></li>
            <li><a href="https://www.alltrails.com/trail/us/california/la-jolla-beach-trail">La Jolla Beach Trail</a></li>
          </ul>
        </div>
        <!-- Other -->
        <div class="subsection">
          <h3>Other</h3>
          <ul>
            <li><a href="https://www.morleyfield.com/">Disc Golf</a></li>
            <li><a href="https://www.arcademonsters.com/">Arcade Monsters</a></li>
            <li><a href="https://www.mlb.com/padres/ballpark">San Diego Padres</a></li>
            <li><a href="https://visitoceanside.org/blog/history-of-top-gun-house-oceanside-california/">Nearby - The Top Gun House</a></li>
          </ul>
        </div>
      </div>
    </div>

  <!-- Food 3 Sections -->
    <div class="section-group">
      <h2>Food</h2>
      <div class="subsections">
        <!-- Quick & Casual -->
        <div class="subsection">
          <h3>Quick/Casual</h3>
          <ul>
            <li><a href="https://tacoselgordobc.com/">Tacos El Gordo (The Adobada is a MUST try!)</a></li>
            <li><a href="https://www.shoreridersd.com/">Shore Rider Bar</a></li>
            <li><a href="https://ortizstacoshop.com/">Ortiz’s Taco Shop</a></li>
            <li><a href="https://la-perla-cocina-mexicana-3.restaurants-world.com/">La Perla</a></li>
          </ul>
        </div>
        <!-- Sit Down -->
        <div class="subsection">
          <h3>Sit Down</h3>
          <ul>
            <li><a href="https://southpark.piaceremiosd.com/">Piacere Mio</a></li>
            <li><a href="https://la-puerta.restaurants-world.com/">La Puerta</a></li>
            <li><a href="https://www.peohes.com/">Peohe's</a></li>
            <li><a href="https://www.marineroom.com/">The Marine Room</a></li>
            <li><a href="https://lionssharesd.com/san-diego-the-lion-s-share-food-menu">The Lion's Share</a></li>
          </ul>
        </div>
        <!-- Sweet Treats -->
        <div class="subsection">
          <h3>Sweet Treats</h3>
          <ul>
            <li><a href="https://ansgelato.com/">An’s Gelato (Highly Recommend!)</a></li>
            <li><a href="https://www.wayfarerbread.com/">Wayfarer</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Coastal Nav -->
  <nav id="coastal-nav">
    <ul>
      <li><a href="/los_angeles">Los Angeles</a></li>
      <li><a href="/anaheim">Anaheim</a></li>
      <li><a href="/laguna">Laguna Beach</a></li>
      <li><a href="/san_diego">San Diego</a></li>
      <li><a href="/newport_beach">Newport Beach</a></li>
      <li><a href="/san_clemente">San Clemente</a></li>
      <li><a href="/dana_point">Dana Point</a></li>
      <li><a href="/long_beach">Long Beach</a></li>
      <li><a href="/irvine">Irvine</a></li>
    </ul>
  </nav>

 <!-- Directions -->
    <div class="directions">
      <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d854813.1652743716!2d-118.1143203022069!3d33.18488176899898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x80dcdd578b031b05%3A0x32b545a680c4ee0e!2sMarriott%20Irvine%20Spectrum%2C%207905%20Irvine%20Center%20Dr%2C%20Irvine%2C%20CA%2092618!3m2!1d33.6575025!2d-117.7483431!4m5!1s0x80d9530fad921e4b%3A0xd3a21fdfd15df79!2sSan%20Diego%2C%20CA!3m2!1d32.715738!2d-117.1610838!5e0!3m2!1sen!2sus!4v1762202134278!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>
  </main>
{% endblock %}

