{% extends "base.html" %}

{% block title %}Klinkatsis Wedding — Anaheim{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cities.css') }}">
{% endblock %}

{% block content %}
  <main>

<!-- Hero Photo -->
    <div class="photo">
      <img src="{{ url_for('static', filename='images/san_clemente.jpg') }}" alt="San Clemente">
      <div class="credit">
        Photo by <a href="https://unsplash.com/@danielhombre19" target="_blank" rel="noopener noreferrer">Dan Cutler</a>
      </div>
    </div>

 <!-- Overview -->
    <div class="overview">
      <h1>
        A small amount of text giving an overview
      </h1>
    </div>

 <!-- Things to do, 3 sections -->
   <div class="sections-container">
    <!-- Attractions -->
    <div class="section-group">
      <h2>Attractions & Things To Do</h2>
      <div class="subsections">
        <!-- Family -->
        <div class="subsection">
          <h3>Family</h3>
          <ul>
            <li>Disneyland</li>
            <li>Knott's Berry Farm</li>
            <li>Aquarium of the Pacific</li>
          </ul>
        </div>
        <!-- Adult -->
        <div class="subsection">
          <h3>Adult</h3>
          <ul>
            <li>Nightlife in Downtown</li>
            <li>Wine Tasting Tours</li>
            <li>Art Galleries</li>
          </ul>
        </div>
        <!-- Other -->
        <div class="subsection">
          <h3>Other</h3>
          <ul>
            <li>Parks & Hiking Trails</li>
            <li>Beaches</li>
            <li>Historic Sites</li>
          </ul>
        </div>
      </div>
    </div>

  <!-- Food, 3 sections -->
    <div class="section-group">
      <h2>Food</h2>
      <div class="subsections">
        <!-- Quick -->
        <div class="subsection">
          <h3>Quick</h3>
          <ul>
            <li>Food Trucks</li>
            <li>Fast Casual Cafes</li>
            <li>Sandwich Shops</li>
          </ul>
        </div>
        <!-- Fancy -->
        <div class="subsection">
          <h3>Fancy</h3>
          <ul>
            <li>Michelin-star Restaurant</li>
            <li>Rooftop Dining</li>
            <li>Steakhouse</li>
          </ul>
        </div>
        <!-- Fun -->
        <div class="subsection">
          <h3>Fun</h3>
          <ul>
            <li>Ice Cream Parlors</li>
            <li>Theme Cafes</li>
            <li>Pizza Places</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Coastal Nav -->
  <nav id="coastal-nav">
    <ul>
      <li><a href="/los_angeles">Los Angeles</a></li>
      <li><a href="/anaheim">Anaheim</a></li>
      <li><a href="/laguna">Laguna Beach</a></li>
      <li><a href="/san_diego">San Diego</a></li>
      <li><a href="/newport_beach">Newport Beach</a></li>
      <li><a href="/san_clemente">San Clemente</a></li>
      <li><a href="/dana_point">Dana Point</a></li>
      <li><a href="irvine">Irvine</a></li>
    </ul>
  </nav>

 <!-- Directions -->
    <div class="directions">
      <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d212827.2352613073!2d-117.84542399094819!3d33.54231813478164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x80dcdd578b031b05%3A0x32b545a680c4ee0e!2sMarriott%20Irvine%20Spectrum%2C%207905%20Irvine%20Center%20Dr%2C%20Irvine%2C%20CA%2092618!3m2!1d33.6575025!2d-117.7483431!4m5!1s0x80dcf45b5929569f%3A0x3a26054814cc7bbf!2sSan%20Clemente%2C%20CA!3m2!1d33.4273521!2d-117.61260039999999!5e0!3m2!1sen!2sus!4v1762202059241!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>
  </main>
{% endblock %}

