/* ===================== City Page Styles ===================== */

/* ===================== GLOBAL RESET ===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* ===================== Top Image ===================== */
/* City image*/
.photo img {
  display: block;     
  width: 100%;
  height: auto;
  margin: 0;            
  border-radius: 0;
  vertical-align: top; 
}

/* ===================== Overview ===================== */
.overview {
  background-color: #52501c;
  text-align: center;
  border-radius: 0;
  padding: 2rem 1rem;
  color: white;
  font-size: 1.3rem;
}



/* ===================== Attractions ===================== */
.to-do h2 {
  padding: 3rem 0.5rem;
  font-size: 4.5rem;
  text-align: center;
  color: #333;
}

.to-do ul {
  font-size: 2.5rem;
  padding-left: 1.5rem;
  margin: 0 auto;
  max-width: 600px;
}

/* ===================== Food ===================== */
.food h2 {
  padding: 3rem 0.5rem;
  font-size: 4.5rem;
  text-align: center;
  color: #333;
}

.food ul {
  font-size: 2.5rem;
  padding-left: 1.5rem;
  margin: 0 auto;
  max-width: 600px;
}


/* ===================== Directions ===================== */
.directions {
  margin-top: 75px;
  margin-bottom: 0;
  padding: 0;
}

.directions iframe {
  width: 100%;
  height: 450px;
  border: 0;
  border-radius: 8px;
  display: block;
}
