/* --- FAQ Section --- */


.faq {
  max-width: 600px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
  padding: 50px;
}

.faq h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--wedding-dark-green, #1D271D);
  background-color: var(--wedding-beige, #D7CFC6);
  border: 7px solid var(--wedding-dark-green, #1D271D);
  border-color: var(--wedding-dark-green, #1D271D);
  padding: 20px 10px;
  font-size: 35px;
}

.faq-item {
  border: 8px solid var(--wedding-dark-green, #1D271D);
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}

.faq-question {
  background-color: var(--wedding-dark-green, #1D271D);
  text-align: center;
  border: none;
  width: 100%;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  transition: background 0.3s;
}

.faq-item .faq-question {
  color: var(--wedding-beige, #D7CFC6);
}

.faq-question:hover {
  color: #ffffff;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: var(--wedding-beige, #D7CFC6);
  padding: 0 20px;
  text-align: center;
  color: var(--wedding-dark-green, #1D271D);
  font-size: 16px;
}

.faq-answer p {
  margin: 15px 0;
}

/* Mobile */
@media (max-width: 768px) {
  .faq {
    max-width: 70%;       
    margin: 20px auto;    
    padding: 0 10px;    
  }

  .faq h2 {
    font-size: 28px;       
    padding: 15px 10px
  }

  .faq-item {
    max-width: 80%;
    margin-bottom: 15px;  
    margin: 0 auto 15px;
  }

  .faq-question {
    text-align: center;     
    font-size: 18px;       
    padding: 15px;        
  }

  .faq-answer {
    padding: 0 20px;
    text-align: center;  
  }

  .faq-answer p {
    margin: 10px 0;       
    line-height: 1.5;     
  }
}
